/*
 * Main stylesheet for all pages
 *
 */

html,body {
    height: 100%;
    width: 100%;
}

.nav-link {
    border-radius: 10%;
    transition: color 0.4s ease-out;
}

.nav-link:hover {
    color: var(--bs-secondary) !important;
}

nav {
    margin-bottom: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content {
    min-height: 50%;
    height: fit-content;
}

.container {
    border-radius: 5px;
    padding: 10px;
}

.btn {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
}