/*
 * Main stylesheet for all pages
 *
 */

html,body {
    height: 100%;
    width: 100%;
}

.nav-link {
    border-radius: 10%;
    transition: color 0.4s ease-out;
}

.nav-link:hover {
    color: var(--bs-secondary) !important;
}

nav {
    margin-bottom: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content {
    min-height: 30%;
    height: fit-content;
}

.container {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn {
    background-color: var(--bs-secondary);
    color: var(--bs-dark);
}

.container {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.jumbotron, .container-fluid {
    width: 95%;
}

.selected {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}
