{% extends "base.html.jinja2" %}
{% block title %}Sign-Up{% endblock %}

{% block header %}
    <h4>Registration Successful.</h4>
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <h3>Success!</h3>
        <p>
            Just wait for approval.
        </p>
    </div>
{% endblock %}