Flask>=2.1.2,<3.0          # Flask core for web app
Flask-PyMongo>=2.3.0,<3.0  # MongoDB access
better-profanity>=0.7.0    # Profanity checking/filtering
Flask-WTF>=1.0.1           # Flask-WTForms for handling forms and captcha
wtforms[email]             # A package for facilitating email validation
Flask-Bootstrap>=3.3       # Bootstrap integration with Flask
uptime>=3.0.0              # For server stats
Flask-Table>=0.5.0         # For rendering tables
Flask-Login>=0.6.1         # For making authentication a little easier
is-safe-url                # Unpackaged DJango url origin checker
