{% extends "base.html.jinja2" %}
{% block title %}404 Not Found{% endblock %}

{% block header %}
    <h4 class="alert alert-danger">404 Not Found</h4>
{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">You have reached the Coughlin Brothers <strike>Mortuary</strike> Server.</h5>
        <p>
            We're deeply sorry we are not able to load this page right now, but we will try to resolve the issue as soon as humanly possible.
        </p>
    </div>
{% endblock %}