{% extends "base.html.jinja2" %}
{% block title %}Not Yet Implemented{% endblock %}

{% block header %}
    <h4>Not Yet Implemented</h4>
{% endblock %}

{% block content %}
    <h6>This page is still under development.</h6>
    <p>
        Unfortunately, this page is not yet written. Hopefully this will be resolved in the near future.
    </p>
{% endblock %}