{% extends "base.html.jinja2" %}
{% block title %}Home{% endblock %}

{% block header %}
    <h4 class="glow text-light">{{ config['CONSTANTS'].SHORT_TITLE }} Revision {{ version }}</h4>
{% endblock %}

{% block content %}
    <h5>Development</h5>
    <p class="px-3">
        {{ config['CONSTANTS'].CREDITS }}
    </p>
    <h5>Graphic Design</h5>
    <p class="px-3">
        Thanks to Greg Kindrat, Heather Brayer, Julia Miller, and Ryan Burbo for the color sceme and graphic design!
    </p>

    <hr>

    <h5>Frameworks</h5>
    <p class="px-3">
        Webapp and API powered by <a target="_blank" href="https://flask.palletsprojects.com/">Flask</a>
        <!-- (This is not a redistribution of Flask in binary or source-code form, but rather a usage of it. Thus, the full license does not need to be included by my understanding) -->
        <pre class="px-4">BSD 3-Clause "New" or "Revised" License</pre>
    </p>
    <p class="px-3">
        Webapp and API served by <a target="_blank" href="https://gunicorn.org/">GUnicorn (Green Unicorn)</a> (MIT License)
        <pre class="px-4">2009-2018 (c) Benoît Chesneau <benoitc@e-engura.org>
2009-2015 (c) Paul J. Davis <paul.joseph.davis@gmail.com></pre>
    </p>
    <p class="px-3">
        Style and layout with <a target="_blank" href="https://getbootstrap.com/">Bootstrap 5</a> (MIT License)
        <pre class="px-4">Copyright (c) 2011-2022 Twitter, Inc.
Copyright (c) 2011-2022 The Bootstrap Authors</pre>
    </p>
    <p class="px-3">
        Frontend scripting facilitated by <a target="_blank" href="https://jquery.com/">JQuery</a>
    </p>

    <hr>

    <h5>Themes & Style</h5>
    <p class="px-3">
        Table styling, searching, etc. with <a target="_blank" href="https://datatables.net/">DataTables</a> (MIT License)
        <pre class="px-4">Copyright (C) 2008-2022, SpryMedia Ltd.</pre>
    </p>
    <p class="px-3">
        <a target="_blank" href="https://loading.io/animation/">Loading.io</a> loaders by Loading.io/PlotDB Ltd.
    </p>

    <hr>

    <p>
        A great many other wonderful dependencies allow this project to happen.
        Only a mere summary of a small handful of dependencies are listed above,
        and not every contributor to each of the above dependencies can be mentioned here.
        For more up-to-date and detailed dependency information, please see the source code.
    </p>

    <hr>

    <h3>Software License:</h3>
    <pre>
{{license}}
    </pre>

    <hr>

    <img src="{{ url_for('static', filename='python-powered-w-200x80.png') }}" alt="Powered by Python">

    <pre style="display: none;" id="egg-of-resurrection-sunday">
QlpoOTFBWSZTWfAGuowAAC3/4QAQAEBAAwACMTMYAD/v3+BAAAAgEAAwASxVQ0mmhpJhknpMQ0aDJoYyaZAyaGQZGmBGDTQUwpmjRNQyNBmoHbVrqYLlDVHjMMPVLFWf7xvEBWBzCP0Y1aZNtnY5ZLKHYsPgh3WQIdwzFVuith6rdOepQbkISAdq/YGfzlpZ/EHvVCRaNmTaIh8XXjxhlnkUUidFQFUJ7MOgfuAfq3UA8GVdFFBlTHqdL6g4IK78McQp54QMgWOIOaS5A5DZlHVugtKVRc1TO4gaLW1+VtLJzBi9NoCGU15MpGNBcjmQID6RgNRnyGrW6LV77oFbpe/7sH4pCNLRdvhcWNp4MezcMS+pz1a8NQfGdTzX0toZzWCkwxBVW1KiArcsZSCDzKYEE2IpWoqQ5HuBFChKlM5x4LgpX6fxdyRThQkPAGuowA==
    </pre>

{% endblock %}