{% extends "base.html.jinja2" %}
{% block title %}Home{% endblock %}

{% block header %}
    <h4>{{ config['CONSTANTS'].SHORT_TITLE }} Revision {{ version }}</h4>
{% endblock %}

{% block content %}
    <h5>Development</h5>
    <p class="px-3">
        {{ config['CONSTANTS'].CREDITS }}
    </p>

    <hr>

    <h5>Themes & Style</h5>
    <p class="px-3">
        Style and layout with <a target="_blank" href="https://getbootstrap.com/">Bootstrap 5</a> (MIT License)
        <pre class="px-4">Copyright (c) 2011-2022 Twitter, Inc.
Copyright (c) 2011-2022 The Bootstrap Authors</pre>
    </p>
    <p class="px-3">
        Table styling, searching, etc. with <a target="_blank" href="https://datatables.net/">DataTables</a> (MIT License)
        <pre class="px-4">Copyright (C) 2008-2022, SpryMedia Ltd.</pre>
    </p>
    <p class="px-3">
        <a target="_blank" href="https://bootswatch.com/">Bootswatch</a> themes by Thomas Park (MIT License)
        <pre class="px-4">Copyright (c) 2013 Thomas Park</pre>
    </p>
    <p class="px-3">
        <a target="_blank" href="https://loading.io/animation/">Loading.io</a> loaders by Loading.io/PlotDB Ltd.
    </p>

    <hr>

    <h3>MIT License:</h3>
    <pre>
The MIT License (MIT)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
    </pre>
{% endblock %}