{% extends "base/base.html.jinja2" %}
{% block title %}User Activation Form{% endblock %}

{% block header %}
<h4>User Activation/Reset Form</h4>
{% endblock %}

{% block content %}
<p>
    Enter your information below:
</p>
{{wtf.quick_form(form)}}
{% endblock %}