{% extends "base/base.html.jinja2" %}
{% block title %}Log In{% endblock %}

{% block header %}
<h4>Log In</h4>
<p class="alert px-20">
    <i>This is intended for admin users and not for participating teams</i>
</p>
{% endblock %}

{% block content %}
{{wtf.quick_form(form)}}
{% endblock %}