{% extends "base.html.jinja2" %}
{% block title %}Beacon Schedule{% endblock %}

{% block header %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('admin.beacon_csv') }}">
        Upload CSV
        <input type="file" name="file" class="btn">
        <input type="submit" value="Upload" class="btn btn-submit btn-danger">
    </form>
    <h4>Scheduled Transmissions</h4>
    <p>
        (as of {{current_time}})
    </p>
{% endblock %}

{% block content %}
    <div>
        {{ beacon_table }}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='/js/admin.js') }}"></script>
{% endblock %}
