{% extends "base.html.jinja2" %}
{% block title %}{{team.name}}{% endblock %}

{% block header %}
    <h3>{{team.name}}-</h3>
    <p class="px-2 alert alert-primary">{{team.members_str}}</p>
    <p class="px-2 alert alert-primary">{{team.status.value}} <b>{{team.weight_class.value}}</b></p>
{% endblock %}

{% block content %}
    <form class="alert w-50" method="POST" action="/admin/multiplier" class="form">
        <p><b>Multiplier:</b> [Cost {{team.multiplier.cost_mult.__str__()}}] X [Mass {{team.multiplier.mass_mult.__str__()}}] X [Volume {{team.multiplier.vol_mult.__str__()}}]
        <hr>
        <b>{{team.multiplier.amount}}</b>
        </p>
        {{ mult_form.hidden_tag() }}
        {{ wtf.form_errors(mult_form, hiddens="only") }}

        {{ wtf.form_field(mult_form.cost) }}
        {{ wtf.form_field(mult_form.size) }}
        {{ wtf.form_field(mult_form.mass) }}
        {{ wtf.form_field(mult_form.submit) }}
    </form>

    <h2>Score: {{team.score}}</h2>

    <hr>
    <h4>Score Tally:</h4>
    {{table}}
{% endblock %}
