{% extends "base.html.jinja2" %}
{% block title %}User Edit{% endblock %}

{% block header %}
    <h4>User Modification</h4>
{% endblock %}

{% block content %}
    <div>
        {{users_table}}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='/js/admin.js') }}"></script>
{% endblock %}
