{% extends "base.html.jinja2" %}
{% block title %}Home{% endblock %}

{% block header %}
    <h4>{{ config['CONSTANTS'].LONG_TITLE }}</h4>
{% endblock %}

{% block content %}
    <p>
        {{ config['CONFIGURABLE'].home_description }}
    </p>
{% endblock %}