{% extends "base.html.jinja2" %}
{% block title %}{{team.name}}{% endblock %}

{% block header %}
    <h2 class="text-light">{{team.name}}-</h2>
    <p class="px-2">{{team.status.value}} <b class="text-info">{{team.weight_class.value}}</b></p>
    <p class="px-2">{{team.members_names_str}}</p>
    <br>

    <h3 class=""text-info>Score: <span style="color: #A0A0A0;">{{team.score}}</span></h3>

    <p class="px-2">
        Multiplier: {{team.multiplier.cost_mult}} X {{team.multiplier.mass_mult}} X {{team.multiplier.vol_mult}}
    </p>

    <hr>
    <h4 class="text-info">Score Tally:</h4>
    {{table}}
{% endblock %}

{% block content %}

{% endblock %}
