{# 404 Not Found #}

{% extends "base.html.jinja2" %}
{% block title %}404 Not Found{% endblock %}

{% block header %}
    <h4 class="alert alert-danger">404 Not Found</h4>
{% endblock %}

{% block content %}
    <div class="alert alert-primary" role="alert">
        <h5 class="alert-heading">Does anyone here remember Vera Lynn?</h5>
        <h6>Is there anybody out there?</h6>
        <b>There must have been a door there in the wall / when I came in!</b>
        <p>
            We are looking for the resource you requested, but can't find it.
            We even tried looking in the flesh and outside the wall, but isn't this where-
        </p>
    </div>
{% endblock %}
