{# 500 Server Error #}

{% extends "base.html.jinja2" %}
{% block title %}500 Internal Server Error{% endblock %}

{% block header %}
<h4 class="alert alert-danger">500 Internal Server Error</h4>
{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    <h5 class="alert-heading">You have reached the Coughlin Brothers <strike>Mortuary</strike> Server.</h5>
    <p>
        We're deeply sorry we are not able to load this page right now, but we will try to resolve the issue as soon as
        humanly possible.
    </p>
    <p>
        The server had an error- Try refreshing or waiting a little bit.
    </p>
    <pre>{{message}}</pre>
    <pre>{{traceback}}</pre>
</div>
{% endblock %}