{% extends "base.html.jinja2" %}
{% block title %}403 Forbidden{% endblock %}

{% block header %}
    <h4>403 Forbidden</h4>
{% endblock %}

{% block content %}
    <h6>Access Denied.</h6>
    <b>There must have been a door there in the wall / when I came in!</b>
    <p>
        You are forbidden from accessing to the requested resource.
    </p>
    <p>
        The evidence before the court is incontrovertible; there's no need for the jury to retire...
        Since, my friend, you have revealed your deepest fear, I sentence you to not be able to see this page.
    </p>
{% endblock %}