/*
 * Main stylesheet for all pages
 *
 */

 @font-face {
    font-family: "Nunito";
        src: url('fonts/Nunito-Regular.ttf');
}


.glow {
    text-shadow: 0 0 10px var(--light);
}

html,body {
    min-height: 100%;
    width: 100%;
    padding-bottom: 2%;
    font-family: "ubuntu mono", monospace;
}

body {
    padding-bottom: 5%;
    background-color: var(--secondary);
}

a {
    color: var(--info) !important;
}

.nav-link {
    border-radius: 10%;
    transition: color 0.4s ease-out;
}

/*h1, h2, h3, h4, h5, .navbar-brand {
    font-family: monospace;
}*/

.nav-link:hover {
    color: var(--secondary) !important;
}

nav {
    margin-bottom: 5%;
    color: var(--secondary);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content {
    min-height: 30%;
    height: fit-content;
}

.container {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.btn {
    background-color: var(--light);
    color: var(--dark);
    margin: 5px;
}

pre {
    color: var(--light);
}

input.btn {
    background-color: var(--danger);
}

input, select, textarea {
    background-color: var(--secondary) !important;
    color: var(--light) !important;
}

.jumbotron, .container-fluid {
    width: 95%;
}

.selected {
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.horizontal-scroll {
    overflow-x: auto;
}

.vertical-scroll {
    overflow-y: auto;
}

table.dataTable {
    border-collapse: collapse !important;
}

select {
    width: fit-content !important;
}
