{% extends "base/base.html.jinja2" %}
{% block title %}Sign-Up{% endblock %}

{% block header %}
<h4>Registration closed.</h4>
{% endblock %}

{% block content %}
<p class="alert alert-danger">
    Unfortunately, registration has closed. Sorry.
<p>
    Please contact the admin for assistance.
</p>
</p>
{% endblock %}