{% extends "base.html.jinja2" %}
{% block title %}Success{% endblock %}

{% block header %}
    <h4>Logged Out</h4>
{% endblock %}

{% block content %}
    <p>You have been successfully logged out.</p>
{% endblock %}