{#   Creates a nice little container :D   #}
{% macro startbox(title, class="") -%}
    <div class="container bg-dark {{class}}" role="main">
        <header class="container">
            <u><h5>{{title}}</h5></u>
        </header>

        <div class="container content px-4">
{% endmacro -%}

{% macro endbox() -%}
        </div>
    </div>
{% endmacro -%}
